/* .ContainerAll { 
    height: 590px;
} */


.containerImg { 
    display: flex;
    justify-content: flex-start;
    /* margin-top: 0.1%; */
    user-select: none;
    flex-wrap: wrap;
    margin-left: 15px;     
    width: 1350px;
    min-height: 100vh;
    /* margin-bottom: 15px; */
    margin-bottom: -120px;
}
.containerImg span { 
    color: #39ff14 ;
    padding: 5px;
    font-size: 20px;
    border: 2px solid  #39ff14 ;
    /* margin-top: 200px; */
}
.containerPag { 
    display:initial;
    /* margin-top: -155px; */
  
}

.buttonPag { 
    width: 80px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(83, 32, 117) ;
    color: white;
    user-select: none;
}



.buttonPag:hover { 
    color: #12f8a0;
    opacity: 0.7;
    cursor: pointer;
 }


 
.buttonPagDark { 
    width: 80px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(19, 18, 18) ;
    color: #39ff14 ;
    user-select: none;
}



.buttonPagDark:hover { 
    color:  #39ff14 ;
     opacity: 0.7;
     cursor: pointer;
 }



@media screen and (max-width: 659px) {
    .containerImg { 
        margin-left: 7px;      
    }

  }